body {
  font-family: "Inter Tight", sans-serif;
  color: #fbfbfb;
  background-color: #576f35;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* common */

.container {
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}

.header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.header-nav {
}
.logo {
}
.header-logo {
}
.header-logo-icon {
}
.header-logo-text {
}
