body {
  font-family: "Inter Tight", sans-serif;
  margin: 0, auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* common */

/* Styles for Mobile devices */
.container {
  min-width: 320px;
  max-width: 375px;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

/* header */
.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 20px;
}

.header-logo {
  margin-left: 20px;
  fill: #ffffff;
}

.header-container-wrap {
  display: none;
  align-items: center;
}

.header-list {
  display: none;
}

.header-btn {
  display: none;
}

.header-btn-menu {
  margin-right: 20px;
  margin-left: auto;
  background: none;
  border: none;
}

.header-open {
  fill: transparent;
  stroke: #ffffff;
}

@media screen and (min-width: 768px) {
  .header-container {
    padding-top: 32px;
  }

  .header-logo {
    width: 216px;
    height: 20px;
    margin-left: 32px;
  }

  .header-btn-menu {
    margin-right: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .header-logo {
    margin-left: 100px;
  }

  .header-container-wrap {
    display: flex;
  }

  .header-list {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-right: 20px;
  }

  .header-link {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
    color: #fbfbfb;
    border: 1px solid #fbfbfb;
    border-radius: 12px;
    padding: 12px;

    white-space: nowrap;
    background-color: transparent;
    transition: background-color 250ms, color 250ms, border 250ms;
  }

  .header-link:active {
    border: 1px solid #fbfbfb;
    color: #7a3145;
    background-color: #fbfbfb;
  }

  .header-link:hover {
    border: 1px solid #d4bfc4;
    color: #7a3145;
    background-color: #d4bfc4;
  }

  .header-btn {
    display: block;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.11111;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    white-space: nowrap;
    color: #fbfbfb;
    border: none;
    border-radius: 30px;
    padding: 16px 32px;
    background-color: #7a3145;
    margin-right: 100px;
    transition: background-color 250ms;
  }

  .header-btn:hover {
    background-color: #d4bfc4;
    color: #7a3145;
  }

  .header-btn:active {
    background-color: #fbfbfb;
    color: #7a3145;
  }

  .header-btn-menu {
    display: none;
  }
}

/* mobile menu */

.ph-menu-container {
  width: 100%;
  height: 100%;
  background: #576f35;
  display: flex;
  position: fixed;
  flex-direction: column;
  z-index: 2;
  right: 0;
  top: 0;
  align-items: center;
  padding-top: 296px;
  padding-bottom: 52px;
}
.ph-menu-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  margin-bottom: auto;
}
.ph-menu-btn {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 118px;
  height: 44px;
  background: transparent;
  border: 1px solid #fbfbfb;
  border-radius: 12px;
  color: #ffff;
  position: relative;
}
.ph-menu-btn:active {
  color: #7a3145;
  background: #fbfbfb;
}
.ph-menu-shop-btn {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.11111;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  background: #7a3145;
  border-radius: 30px;
  padding: 16px 41px;
  border: none;
}
.menu-close-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  fill: #fbfbfb;
  stroke: #fbfbfb;
  cursor: pointer;
}
.ph-menu-bg {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(20, 20, 20, 0.4);
  z-index: 1;
  right: 0;
  top: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@media only screen and (min-width: 768px) {
  .ph-menu-container {
    display: flex;
    width: 351px;
  }
  .menu-close-btn {
    width: 40px;
    height: 40px;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1280px) {
  .ph-menu-container {
    display: none;
  }
  .ph-menu-bg {
    display: none;
  }
}

.ph-menu-bg.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.a-link-modal {
  width: 118px;
  height: 44px;
  opacity: 0;
  display: inline-block;
  top: 0;
  position: absolute;
  left: 0;
}

/* hero */
.hero {
  background-color: #576f35;
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.hero-container-desc {
  padding: 0 20px;
  text-align: left;
}

.hero-title {
  font-weight: 600;
  font-size: 52px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  padding: 100px 0 20px 0;
}

@media only screen and (max-width: 352px) {
  .hero-title {
    font-size: 46px;
  }
}

.hero-desc {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42857;
  color: #fbfbfb;
  padding-bottom: 40px;
}

.hero-container-img {
  display: block;
  background-image: url(/images/hero/hero-mob-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  max-width: 375px;
  height: 372px;
}

@media screen and (min-resolution 2x), (-webkit-min-device-pixel-ratio: 2) {
  .hero-container-img {
    background-image: url(/images/hero/hero-mob-1@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero-container-desc {
    padding: 0 32px;
  }

  .hero-container-img {
    background-image: url(/images/hero/hero-tablet-1.jpg);
    max-width: 768px;
    height: 536px;
  }

  @media screen and (min-resolution 2x), (-webkit-min-device-pixel-ratio: 2) {
    .hero-container-img {
      background-image: url(/images/hero/hero-tablet-1@2x.jpg);
    }
  }

  .hero-title {
    font-size: 76px;
    padding: 120px 0 24px 0;
  }

  .hero-desc {
    font-size: 16px;
    padding-bottom: 52px;
    max-width: 603px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-container-img {
    background-image: url(/images/hero/hero-desktop-1.jpg);
    width: 50%;
    max-width: 640px;
    height: 796px;
  }

  @media screen and (min-resolution 2x), (-webkit-min-device-pixel-ratio: 2) {
    .hero-container-img {
      background-image: url(/images/hero/hero-desktop-1@2x.jpg);
    }
  }

  .hero-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 1280px;
    padding: 0;
  }

  .hero-container-desc {
    width: 50%;
    flex: 1;
    padding: 0 38px 0 100px;
  }

  .hero-title {
    font-size: 76px;
    padding: 220px 0 128px 0;
  }

  .hero-desc {
    max-width: 460px;
  }
}

/* work */

.work {
  padding-top: 40px;
  padding-bottom: 80px;
  background: linear-gradient(to bottom, #7a3145 44.04%, #576f35 44.04%);
}

.work-container {
  width: 100%;
  max-width: 375px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 120px;
}

.work-img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.work-img img {
  border-radius: 30px;
  overflow: hidden;
  margin: 0 auto;
  max-width: 100%;
  width: 335px;
}

.work-wrapper {
  padding-left: 20px;
  padding-right: 20px;
}

.work-subtitle {
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
}

.title-accent {
  color: #d4bfc4;
}

.work-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42857;
  color: #fbfbfb;

  margin-bottom: 40px;
}

.work-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  counter-reset: step-counter;
}

.work-item {
  border-radius: 15px;
  padding: 12px 27px 12px 24px;
  max-width: 335px;
  height: 84px;

  background-color: #fbfbfb;

  position: relative;
  display: flex;
  align-items: center;
}

.work-item::before {
  content: counter(step-counter);
  counter-increment: step-counter;
  background-color: #7a3145;
  color: #fbfbfb;
  border: 5px solid #d4bfc4;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

  font-size: 18px;
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: -0.01em;
  text-transform: uppercase;

  width: 52px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 24px;

  flex-shrink: 0;
}

.work-desc {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42857;
  color: #858585;

  word-wrap: break-word;
}

strong {
  font-weight: 700;
  color: #141414;
}

@media only screen and (min-width: 768px) {
  .work {
    padding-top: 100px;
    padding-bottom: 100px;
    background: linear-gradient(to bottom, #7a3145 54.3%, #576f35 54.3%);
  }

  .work-container {
    max-width: 768px;
    gap: 200px;
  }

  .work-img img {
    width: 640px;
  }

  .work-wrapper {
    padding-left: 164px;
    padding-right: 164px;
  }

  .work-subtitle {
    width: 420px;
    font-size: 32px;
    margin-bottom: 24px;
  }

  .work-text {
    width: 440px;
    font-size: 16px;
    margin-bottom: 52px;
    line-height: 1.25;
  }

  .work-list {
    gap: 24px;
  }

  .work-item {
    padding: 12px 15px 12px 24px;
    max-width: 440px;
    height: 76px;
  }

  .work-desc {
    font-size: 16px;
    line-height: 1.25;
    width: 325px;
  }

  .work-desc-second {
    max-width: unset;
  }
}

@media only screen and (min-width: 1280px) {
  .work {
    background: linear-gradient(to right, #7a3145 50%, #576f35 50%);
  }

  .work-container {
    max-width: 1280px;
    flex-direction: row;
  }

  .work-img img {
    width: 440px;
  }

  .work-wrapper {
    padding-left: 0;
    padding-right: 0;
  }

  .work-text {
    margin-bottom: 104px;
  }

  .work-list {
    gap: 24px;
  }

  .work-item {
    padding: 12px 15px 12px 24px;
    width: 440px;
    height: 76px;
  }
}

/* advertisement */
.advertisement {
  padding: 80px 20px;
  background-color: #fbfbfb;
  text-align: left;
}

.advertisement-container {
  max-width: 375px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.advertisement-desc {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.08333;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #141414;
}

.accent-desc {
  color: #fbfbfb;
  background-color: #576f35;
  border-radius: 12px;
}

@media only screen and (min-width: 768px) {
  .advertisement {
    padding: 100px 32px;
  }

  .advertisement-container {
    max-width: 700px;
  }

  .advertisement-desc {
    font-size: 64px;
    line-height: 1;
  }

  .accent-desc {
    min-width: 675px;
    padding-top: 20px;
  }
}

@media only screen and (min-width: 1280px) {
  .advertisement-container {
    padding-right: 100px;
    padding-left: 100px;
    max-width: 1080px;
  }

  .advertisement-desc {
    font-size: 76px;
    max-width: 1054px;
  }

  .accent-desc {
    max-width: 808px;
    padding-top: 0;
    padding-left: -16px;
    text-align: right;
  }
}

/* vegetables */
.vegetables {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #7a3145;
}

.vegetables-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.08333;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;

  margin-bottom: 20px;
}
.vegetables-desc {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42857;
  color: #fbfbfb;

  margin-bottom: 40px;
}

.vegetables-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.vegetables-item {
  border-radius: 40px;
  padding: 32px 24px;
  width: 335px;

  background-color: #fbfbfb;
}
.vegetables-subtitle {
  font-weight: 600;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #7a3145;

  margin-bottom: 12px;
}

.vegetables-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42857;
  color: #141414;
}
/* reviews */
.reviews {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #fbfbfb;
}

.reviews-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.08333;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #141414;

  margin-bottom: 20px;
}

.accent-green {
  color: #576f35;
}

.reviews-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42857;
  color: #141414;

  margin-bottom: 40px;
}
.reviews-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  gap: 24px;
}
.reviews-img {
  margin: 0 auto 24px;
}

.reviews-item {
  border: 1px solid #d4bfc4;
  border-radius: 24px;
  padding: 20px 16px;
  width: 335px;
  height: 228px;
}
.reviews-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.11111;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  text-align: center;
  color: #141414;

  margin-bottom: 8px;
}

.reviews-desc {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42857;
  text-align: center;
  color: #858585;

  max-width: 290px;
}

/* order */

.order {
  padding-top: 80px;
  padding-bottom: 80px;
}

.order-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.08333;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;

  margin-bottom: 20px;
}

.order-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42857;
  color: #fbfbfb;

  margin-bottom: 40px;
}

.order-form-container {
  border-radius: 30px;
  padding: 40px 20px;
  width: 335px;
  height: 552px;

  background-color: #fbfbfb;

  margin-bottom: 20px;
}

.order-form {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.order-form-title {
  font-weight: 600;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #141414;

  width: 296px;

  margin-bottom: 40px;
}

.accent-violet {
  color: #7a3145;
}

.order-field {
}

.order-input {
  border: 1px solid #858585;
  border-radius: 30px;
  padding-left: 16px;
  padding-right: 24px;
  width: 295px;
  height: 48px;

  background-color: transparent;
  outline: transparent;

  font-size: 14px;
  line-height: 1.42857;
  color: #141414;
}

/* стилізація інпута в стані фокус */
.order-input:focus,
.order-textarea:focus {
  border-color: #7a3145;
}

/* стилізація інпута при не валідному значенні */
.order-input:not(:placeholder-shown):invalid {
  border-color: #e74a3b;
}

/* стилізація інпута при валідному значенні */
.order-input:not(:placeholder-shown):valid {
  border-color: #3cbc81;
}

.order-textarea {
  border: 1px solid #858585;
  border-radius: 15px;
  background-color: transparent;

  padding: 14px 16px;
  width: 295px;
  min-height: 92px;

  outline: transparent;
  resize: none;

  font-size: 14px;
  line-height: 1.42857;
  color: #141414;
}

.order-textarea::placeholder,
.order-input::placeholder {
  color: #141414;
}

.order-submit-btn {
  border-radius: 30px;
  padding: 16px 129px;
  width: 295px;
  height: 52px;

  background-color: #7a3145;
  border: none;

  font-weight: 600;
  font-size: 18px;
  line-height: 1.11111;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
}

.order-submit-btn:focus {
  border: 1px solid #fbfbfb;
  border-radius: 30px;
  background-color: #fbfbfb;
  color: #7a3145;
}

.order-soc-wrap {
  border-radius: 30px;
  padding: 40px 20px;
  width: 335px;
  height: 456px;

  background-color: #7a3145;
}
.order-img {
}
.order-soc-desc {
  margin-top: 20px;
  margin-bottom: 16px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.42857;
  color: #d4bfc4;
}
.order-soc-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8px;
}
.order-soc-item {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.11111;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
}
.order-soc-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.11111;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
}

/* footer */
.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #7a3145;
}
.footer-logo-container {
  margin-bottom: 14px;
}

.footer-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42857;
  color: #fbfbfb;

  margin-bottom: 40px;
}
.footer-list {
  display: flex;
  flex-direction: column;
  gap: 14px;

  margin-bottom: 40px;
}

.footer-link {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
}
.footer-contact-info {
  display: flex;
  flex-direction: column;
  gap: 14px;

  margin-bottom: 80px;
}
.footer-contact {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.42857;
  color: #fbfbfb;

  max-width: 179px;
}

.footer-main {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-policy-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42857;
  color: #d4bfc4;
}

.footer-company {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42857;
  color: #d4bfc4;
}
